<?xml version="1.0" encoding="UTF-8"?>
<java version="13.0.2" class="java.beans.XMLDecoder">
 <object class="Daten.Kunde" id="Kunde0">
  <void class="Daten.Kunde" method="getField">
   <string>PKID</string>
   <void method="set">
    <object idref="Kunde0"/>
    <string>KUD0001</string>
   </void>
  </void>
  <void class="Daten.Kunde" method="getField">
   <string>Name</string>
   <void method="set">
    <object idref="Kunde0"/>
    <string>Mustermann</string>
   </void>
  </void>
  <void class="Daten.Kunde" method="getField">
   <string>Vorname</string>
   <void method="set">
    <object idref="Kunde0"/>
    <string>Monika</string>
   </void>
  </void>
 </object>
</java>
